.questionBox{
    
    gap: .8rem;
    flex-direction: column;
    display: flex;
    border: 1px solid rgba(0, 206, 203, 0.627);
    background-color: black;
    padding: 1rem .5rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;

}

.questionWrapper{
    display: flex;

}

.questionWrapper .questionTitle{

}

.questionIcon{
    display: flex;
    align-items: center;
}

.answerWrapper{

}

.answerWrapper .answerTitle{

}