.typesInSideBar{
    width: 100%;
}

.typesInSideBarList{
    width: 100%;
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}


.selectTypeTitleWrapper{
    display: flex;
    justify-content: center;
}