.topHeaderBtn{
    
    width: 130px;
    background-color: rgba(99, 110, 114,.3);    
    color: white;
    border-radius: 5rem;
    padding: .3rem 0;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;


}

.topHeaderBtn:hover{
    background-color: rgba(0, 206, 203, 0.2);
    border: 1px solid rgba(0, 206, 203, 0.627);
}

.buttonIcon{
    font-size: 1.2rem;
}