.personalityTypesPage{
   width: 75%;
   display: flex; 
}

.personalityTypesPage .content {

    width: 80%;
    background-color: rgba(0, 206, 203, 0.04);

}

.personalityTypesPage .SideBar {
    
    width: 20%;
}

.personalityTypesPage .typesListWrappwe .titleWrapper{
    width: 50%;
}

.typesList{

    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: white;
    margin-bottom: 1rem;

}