.addCommentWrapper{

    color: white;
    background-color: black;
    padding: 1rem .5rem;
    margin: 1rem 0;

}

.commentTitleWrapper{
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
    font-size: 1.3rem;

}


.commentForm{
    margin-top: 2rem;
}

.commentBtnWrapper{
    width: 100%;
    display: flex;
    padding-left: 1rem;
    justify-content: flex-end;
}

.commentInput{

    width: 100%;
    background-color: black;
    border: 1px solid rgba(0, 206, 203, 0.2);
    border-radius: .3rem;
    min-height: 7rem;
    /* text-decoration: none; */
}


.commentBtnWrapper{
    margin-top: 2rem;
}

.addCommentButton{

    border: 1px solid rgba(0, 206, 203, 0.2);
    border-radius: .7rem;
    padding: .3rem 1rem;
}


.addCommentButton:hover{
    background-color: rgba(0, 206, 203, 0.2);
}