.MBTIButton{
    
    background-color: black;
    border-radius: .5rem;
    justify-content: center;
    /* border: 2px solid rgba(0, 206, 203, 0.2) ; */
    font-size: 1.2rem;
    width: 100%;

}


.MBTIButton:hover { 
    background-color: rgba(0, 206, 203, 0.2);
    color: goldenrod;
}