.personalityCards{
    
    background-color: black;
    border-radius: 1rem;
    padding-left: .5rem;
    justify-content: space-around;
    border: 2px solid rgba(0, 206, 203, 0.2) ;
    height: 75px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 350px;

}


.personalityCards:hover { 
    background-color: rgba(0, 206, 203, 0.2);
    color: goldenrod;
}