.mbtiCard{
    
    background-color: black;
    border-radius: 1rem;
    padding-left: .5rem;
    justify-content: space-around;
    border: 2px solid rgba(0, 206, 203, 0.2) ;
    font-size: 1.5rem;
    display: flex;
    box-shadow: none;
    align-items: center;

}


.mbtiCard:hover { 
    /* background-color: rgba(0, 206, 203, 0.2); */
    color: goldenrod;
}

