.userProfilePage{
        
    width: 80%;
    /* margin: 1rem 0; */
    background-color: black;
    color: white;
    font-size: 5rem;
    display: flex;
    /* gap: 2rem; */
    /* justify-content:center  ; */

    gap: 3rem;

}


.userSideBarContainer{
    width: 25%;
}

.userContentContainer{
    width: 75%;
    display: flex;
    justify-content: center;
}