.footer{
    background-color: rgba(99, 110, 114,.3);
}

.socialMediasTitle .title {
    font-size: clamp(.7rem,3.5vw,1.8rem);    
}


.sendEmail{
    background-color: rgba(0, 206, 203, 0.2);
}

.sendEmail input {
    border-radius: 0rem;
    height: 35px;
    border: none;
}

.sendEmail input:focus {
    border: none;
    outline: none;
}

.sendEmail .cnofirmButton{
    background-color: rgba(0, 206, 203, 0.2);
}

.topTopicsTitle{
    font-size: clamp(.7rem,3.5vw,1.8rem);
}

.typetoFamilyTitle{
    font-size: clamp(.7rem,3.5vw,1.8rem);
}

.topTopicItem .farsiTitle{
    color: white;
    font-size: clamp(.7rem,3.5vw,1.8rem);
}


